# Flutter-specific ignore rules
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/.last_build_id
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
lib/generated_plugin_registrant.dart

# Android related
**/android/local.properties
**/android/key.properties
**/android/app/src/main/res/values/strings.xml

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Miscellaneous
*.log
*.pyc
*.swp
.DS_Store
.env
